    {% extends '::admin_layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1>Event</h1>
    </div>

    <div class="row">
        <div class="large-12 small-12 columns">
            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Startingtime</th>
                        <td>{{ entity.startingTime|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Endingtime</th>
                        <td>{{ entity.endingTime|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <div class="row">
    <div class="large-12 small-12 columns">
        <ul class="button-group">
            <li>
                <a href="{{ path('kunstcafe_main_calendar_crud') }}" class="button">
                    Back to the list
                </a>
            </li>
                        <li>
                <a href="{{ path('kunstcafe_main_calendar_crud_edit', { 'id': entity.id }) }}" class="button">
                    Edit
                </a>
            </li>
                                    <li>{{ form(delete_form) }}</li>
                    </ul>
    </div>
</div>
{% endblock %}
