{% extends '::public_layout.html.twig' %}

{% block main_banner_image %}{{ asset('images/' ~ config['main_banner_image']) }}{% endblock %}

{% block main_banner_text %}{{ config['main_banner_text'] }}{% endblock %}

{% block javascripts %}
    {% javascripts 'js/gallery.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="row image-block-col">
        <div class="large-6 small-12 columns scroll-fade-in image-block">
            <div class="image">
                <img src="{{ asset('images/' ~ config['about_us_picture']) }}" alt />

                <div class="overlay"></div>
            </div>
        </div>

        <div class="large-6 small-12 columns scroll-fade-in">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <h3>{{ config['about_us_heading'] }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="large-12 small-12 columns">
                    <p>{{ config['about_us_text'] }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row image-block-col">
        <div class="large-6 small-12 columns scroll-fade-in text-center">
            <q class="large-quote">
                {{ config['about_us_quote'] }}
            </q>
            <span class="author">{{ config['about_us_quote_author'] }}</span>
        </div>

        <div class="large-6 small-12 columns scroll-fade-in image-block">
            <div class="image">
                <img src="{{ asset('images/' ~ config['about_us_quote_image']) }}" alt />

                <div class="overlay"></div>
            </div>
        </div>
    </div>

    <div class="row full-width">
        <div class="large-12 small-12 columns scroll-fade-in image-block parent-middle">
            <ul class="gallery inline-list">
                {% for galleryImage in config['gallery_images'] %}
                    <li class="image">
                        <img src="{{ asset('images/' ~ galleryImage) }}" alt />
                    </li>
                {% endfor %}
            </ul>
            <a id="gallery-previous" class="in-middle" data-vertical>
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-angle-left fa-stack-1x"></i>
                </span>
            </a>
            <a id="gallery-next" class="in-middle" data-vertical>
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-angle-right fa-stack-1x"></i>
                </span>
            </a>
        </div>
    </div>
{% endblock %}