{% extends '::public_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="large-6 small-12 columns image-block-col">

            <div class="image-block scroll-fade-in">
                <div class="image">
                    <img src="{{ asset('images/art-1.jpg') }}" alt/>

                    <div class="overlay"></div>
                </div>

                <div class="caption">
                    <a href="#">
                        <h4>Our idea is to show people what Norwegian artists can do. (link to about us)</h4>
                    </a>
                </div>

            </div>

        </div>

        <div class="large-6 small-12 columns image-block-col">

            <div class="image-block scroll-fade-in">
                <div class="image">
                    <img src="{{ asset('images/art-2.jpg') }}" alt/>

                    <div class="overlay"></div>
                </div>

                <div class="caption">
                    <a href="#">
                        <h4>We focus on art, that is why we are in a very beautiful place - Lokstallen (link to about us,
                            scrolled down to map)</h4>
                    </a>
                </div>
            </div>

        </div>

        <div class="large-6 small-12 columns image-block-col">

            <div class="image-block scroll-fade-in">
                <div class="image">
                    <img src="{{ asset('images/art-3.png') }}" alt/>

                    <div class="overlay"></div>
                </div>

                <div class="caption">
                    <a href="#">
                        <h4>We believe that everyone has artist inside, take a shot and join us (link to application
                            form)</h4>
                    </a>
                </div>
            </div>

        </div>

        <div class="large-6 small-12 columns image-block-col">

            <div class="image-block scroll-fade-in">
                <div class="image">
                    <img src="{{ asset('images/art-4.jpg') }}" alt/>

                    <div class="overlay"></div>
                </div>

                <div class="caption">
                    <a href="#">
                        <h4>Take off a few hours from everyday routine (link to calendar)</h4>
                    </a>
                </div>
            </div>

        </div>

        <div class="large-6 small-12 columns image-block-col">

            <div class="image-block scroll-fade-in">
                <div class="image">
                    <img src="{{ asset('images/art-5.jpg') }}" alt/>

                    <div class="overlay"></div>
                </div>

                <div class="caption">
                    <h4>Every artist in history has its own unique and very interesting stories to tell; we have a few too
                        (link to blog)</h4>
                </div>
            </div>

        </div>
    </div>
{% endblock %}