{% extends '::public_layout.html.twig' %}

{% block main_banner_image %}{{ asset('uploads/media/' ~ config['main_banner_image']) }}{% endblock %}

{% block main_banner_text %}{{ config['main_banner_text'] }}{% endblock %}

{% block content %}
    <div class="row">

        {% for block in config['blocks'] %}
            <div class="large-6 small-12 columns image-block-col">
                <div class="image-block scroll-fade-in">
                    <div class="image">
                        <img src="{{ asset('uploads/media/' ~ block['image']) }}" alt="{{ block['text'] }}" />

                        <div class="overlay"></div>
                    </div>

                    <div class="caption">
                        <a href="{{ path(block['url']) }}">
                            <h4>{{ block['text'] }}</h4>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}