{% extends '::public_layout.html.twig' %}

{% block main_banner_text %}{{ artist }}{% endblock %}

{% block main_banner_image %}{{ asset('images/norway-about-us.jpg') }}{% endblock %}

{% block javascripts %}
    {% javascripts 'js/gallery.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="row bottom-margin">
        <div class="large-4 small-12 columns image-block scroll-fade-in">
            <div class="image">
                <img src="{{ asset('uploads/media/' ~ artist.image) }}" alt="{{ artist }}" />

                <div class="overlay"></div>
            </div>
        </div>

        <div class="large-8 small-12 columns scroll-fade-in">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <h2>{{ artist }}</h2>
                </div>
            </div>

            <div class="row">
                <div class="large-12 small-12 columns">
                    <p>
                        {{ artist.about }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width">
        <div class="large-12 small-12 columns scroll-fade-in image-block parent-middle">
            <ul class="gallery inline-list">
                {% for artistImage in artist.artistImages %}
                    <li class="image">
                        <img src="{{ asset('uploads/media/' ~ artistImage.image) }}" alt />
                    </li>
                {% endfor %}
            </ul>
            <a id="gallery-previous" class="in-middle" data-vertical>
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-angle-left fa-stack-1x"></i>
                </span>
            </a>
            <a id="gallery-next" class="in-middle" data-vertical>
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-angle-right fa-stack-1x"></i>
                </span>
            </a>
        </div>
    </div>
{% endblock %}