{% block extends %}
    {{ "{% extends '::admin_layout.html.twig' %}" }}
{% endblock extends %}

{% block content %}
{{ "{% block content %}" }}
    <div class="row">
        <h1>{{ entity }} edit</h1>
    </div>

    <div class="row">
        <div class="large-12 small-12 columns">
            {{ "{{ form(edit_form, {'attr': {'novalidate': 'novalidate' }}) }}" }}
        </div>
    </div>

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock content %}
